.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px; }
  @media only screen and (min-width: 571px) {
    .container {
      max-width: 570px; } }
  @media only screen and (min-width: 761px) {
    .container {
      max-width: 760px; } }
  @media only screen and (min-width: 991px) {
    .container {
      max-width: 990px; } }
  @media only screen and (min-width: 1201px) {
    .container {
      max-width: 1200px; } }

.page-main__login-form {
  margin: 50px auto; }

.login-form {
  padding: 35px 25px;
  border: 1px solid #ececec;
  border-radius: 6px;
  -webkit-box-shadow: 0px 5px 10px rgba(37, 37, 37, 0.1);
          box-shadow: 0px 5px 10px rgba(37, 37, 37, 0.1); }
  .login-form__title {
    display: block;
    font-weight: 400;
    font-size: 24px;
    padding-bottom: 5px;
    border-bottom: 1px solid #dadada;
    margin-top: 0;
    margin-bottom: 25px; }
  .login-form__wr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column; }
  .login-form__label {
    margin-bottom: 15px;
    cursor: pointer; }
    .login-form__label span {
      display: block;
      font-size: 16px;
      margin-bottom: 5px; }
    .login-form__label input {
      display: block;
      width: 100%;
      padding: 15px;
      border: 1px solid #dadada;
      border-radius: 6px; }
    .login-form__label--checkbox input {
      display: none; }
    .login-form__label--checkbox span {
      position: relative;
      padding-left: 27px; }
      .login-form__label--checkbox span::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        left: 0;
        top: 0px;
        background-color: #fff;
        -webkit-border-radius: 2px;
        border: 1px solid #dadada;
        border-radius: 2px; }
    .login-form__label--checkbox input:checked + span:before {
      background-image: url(../img/checkbox.png);
      background-repeat: no-repeat;
      background-position: center; }
  .login-form__submit {
    padding: 15px;
    border: none;
    border: 1px solid #dadada;
    border-radius: 6px;
    background-color: #0579f6;
    color: #fff;
    cursor: pointer; }

@media only screen and (min-width: 571px) {
  .login-form {
    padding: 35px; } }

@media only screen and (min-width: 761px) {
  .login-form__wr {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center; }
  .login-form__label, .login-form__submit {
    width: 49%; }
  .login-form__label--checkbox {
    margin-bottom: 0; } }

@media only screen and (min-width: 991px) {
  .login-form__label {
    margin-bottom: 20px; }
  .login-form__label--checkbox {
    margin-bottom: 0; } }

@media only screen and (min-width: 1201px) {
  .login-form {
    max-width: 500px; }
    .login-form__label {
      width: 100%; }
    .login-form__label--checkbox {
      margin-bottom: 20px;
      display: inline-block;
      width: auto; }
    .login-form__submit {
      width: 100%;
      -webkit-transition: background .3s;
      -o-transition: background .3s;
      transition: background .3s; }
      .login-form__submit:hover {
        background: #025dbf; }
      .login-form__submit:active {
        background: #004c9e; } }
